<
!DOCTYPE html
>


<
html lang
=
"en"
>


<
head
>

    
<
meta charset
=
"UTF-8"
>

    
<
title
>
Autonomous AI 
-
 Dashboard
<
/
title
>

    
<
link rel
=
"stylesheet"
 href
=
"/static/css/style.css"
>


<
/
head
>


<
body
>

    
<
nav 
class
=
"navbar"
>

        
<
h1
>
Autonomous AI Dashboard
<
/
h1
>

    
<
/
nav
>

    
    
<
div 
class
=
"container"
>

        
<
div 
class
=
"sidebar"
>

            
<
a href
=
"/"
>
Dashboard
<
/
a
>

            
<
a href
=
"/goals"
>
Goals
<
/
a
>

            
<
a href
=
"/agents"
>
Agents
<
/
a
>

            
<
a href
=
"/logs"
>
Logs
<
/
a
>

        
<
/
div
>

        
        
<
div 
class
=
"main-content"
>

            
<
div 
id
=
"app"
>

                Loading dashboard
.
.
.

            
<
/
div
>

        
<
/
div
>

    
<
/
div
>

    
    
<
script src
=
"/static/js/app.js"
>
<
/
script
>


<
/
body
>


<
/
html
>



### interface/static/css/style.css